@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: "Yanone Kaffeesatz", sans-serif;
}

html {
    scrollbar-color: #fff #272727;
    scrollbar-width: thin;
}
